[Unit]
Description=siliconprawn map generator
After=network.target
[Service]
ExecStart=/opt/siliconprawn/simapper.sh
[Install]
WantedBy=default.target

