[Unit]
Description=siliconprawn page data generator
After=network.target
[Service]
ExecStart=/opt/siliconprawn/sipager.sh
[Install]
WantedBy=default.target

