[Unit]
Description=siliconprawn thumbnail generator
After=network.target
[Service]
ExecStart=/opt/siliconprawn/autothumb/run.sh
[Install]
WantedBy=default.target

